.products{
    display:flex;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.products-name{
    color: blue;
    font-weight: 500px;
}
.main-button{
    background-color:goldenrod;
    width:150px;
    height:30px;
    border:1px solid gray;
    border-radius:5px;
}